header {
    height: 120px;
    background-color: white ;
}
.menu-principal{
    float:right
}
.menu-principal > ul> li {
    display: inline-block;
    padding: 8px;
}
.menu-principal > ul> li:hover{
    background-color: white;
}
main {
    height: 500px;
    background-color: purple;
}

footer {
    height: 80px;
    background-color: purple;
}